<footer>
		<nav>
			<a href="https://webpages.uncc.edu/mschmi33">Charlotte.edu</a> ||
			<a href="https://github.com/mschmi33">GitHub</a> ||
			<a href="https://mschmi33.github.io">GitHub.io</a> ||
			<a href="https://www.freecodecamp.org/mschmi33">FreeCodeCamp</a> ||
			<a href="https://www.codecademy.com/profiles/mschmi33">Codecademy</a> ||
			<a href="https://www.linkedin.com/in/mschmi33">LinkedIn</a>
		</nav>
		<p>Designed by <a href="schmidtbydesign.com/index.html">Schmidt by Design</a> &copy; 2025</p>
	</footer>